header{
  min-height: 9.1875em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-menu nav ul{
  padding: 0;
}

.main-menu nav ul li{
  display: inline-block;
  font-family: "RobotoSlabRegular";
  font-size: 1.125em;
  color: $dark-color;
  line-height: 1.333;
  margin: 0 1.5em;
  cursor: pointer;
  transition-duration: 0.05s;
  &:first-child{
    margin-left: 0;
  }
  &:hover{
    background-color: $orange-color;
    border-radius: 1.5em;
    margin: 0;
    padding: 1.06em 1.5em;
    color: white;
  }
}
