.our-news {
    background-color: $grey-color;

    h4 {
        color: $dark-color;
        text-align: center;
        padding: 3em 0;
    }
}

.news-block {
    display: flex;
    justify-content: space-between;
    text-align: center;
    @include for-phone-only{
      flex-direction: column;
    };
}

.news-figure {
    margin: 0 1em;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
    @include for-phone-only{
      width: 100%;
      box-sizing: border-box;
      margin: 0;
    };

    @include for-tablet-portrait-up{
      width: 33%;
    };
}

.news-figure img {
    margin-bottom: 1em;
    width: 100%;
}

.news-figure button {
    display: block;
    margin: 2.5em auto 0;
    background-color: $white-color;
    padding: 1.06em 3.25em;

    &:hover {
        background-color: $orange-color;
        color: $white-color;
    }
    @include for-phone-only{
      margin: 2.5em auto;
    };
}

.news-figure span {
    color: $dark-color;
    line-height: 1.875em;
    max-width: 90%;
    display: block;
    margin: 0 auto;
}

.news-block {
    padding-bottom: 5em;
}
